<p>Olá, <%= @resource.email %>!</p>

<p> Alguém requisitou para alterar sua senha. Você pode fazer isso através do link abaixo: </p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p> Se você não requisitou isto, por favor ignore este email. </p>
<p> Sua senha não será alterada até que você acesse o link acima e cria uma nova. </p>
