<% provide(:title, 'Sobre nós') %>

	<h1> Sobre nós </h1>
	<p>
	Somos uma clínica de fisioterapia com foco em estética, fisioterapia motora e Pilates.
	Acesse nossa <a href="https://www.facebook.com/kefisio.kefisio/about"> página no Facebook. </a>
	
	<p> Nosso endereço é 
	          	Rua Pedro Pereira de Almeida, 11
	          	58417540 Sítio Campina Grande, Brazil
	          	Bairro Presidente Médici
	</p>
	
<p> Como chegar? <a href="https://www.google.com.br/maps/dir/R.+Pedro+Pereira+de+Almeida,+11+-+%E3%83%97%E3%83%AC%E3%82%B8%E3%83%87%E3%83%B3%E3%83%86%E3%83%BB%E3%83%A1%E3%83%BC%E3%82%B8%E3%82%B7/R.+Pedro+Pereira+de+Almeida,+11+-+%E3%83%97%E3%83%AC%E3%82%B8%E3%83%87%E3%83%B3%E3%83%86%E3%83%BB%E3%83%A1%E3%83%BC%E3%82%B8%E3%82%B7+Campina+Grande+-+PB,+58417-540/@-7.249428,-35.9091351,18z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x7ac1dfd93ff626b:0x4c40f9ef5f813126!2m2!1d-35.9080531!2d-7.2494301!1m5!1m1!1s0x7ac1dfd93ff626b:0x4c40f9ef5f813126!2m2!1d-35.9080714!2d-7.2494313"> Mapa </a>
	</p>
</p>
