<center>

<% provide(:title, 'Ajuda') %>
  
	<h1>Ajuda</h1>
		<p>Informações sobre a Kefisio e contato</p>

        <h1></h1>
	<h1> Dicas </h1>
		<p>
			Porque fazer Pilates? <a href="http://maisequilibrio.com.br/fitness/pilates-3-1-2-76.html" target="_blank">Veja aqui </a>
		</p>
  
</center>
