<% provide(:title, 'Home') %>

    <h1> Bem vindo a Kefisio!</h1>
	<h2> Esta é a homepage da Kefisio. Para acessar sua conta, clique em <%= link_to "Log in" , class: "btn btn-large btn-primary" %>. 
	</h2>
