<div class="center hero-unit">
  <h1>Bem vindo a Kefisio! </h1>

  <h2>
   Esta é a homepage da clínica Kefisio. Para acessar sua conta, clique em Login.
  </h2>
</div>

<%- if can? :manage, Event %>
  <%= link_to 'Compromissos', events_path %> 
  | <%= link_to 'Pacientes', users_path %>
  | <%= link_to 'Novo paciente', new_user_path %>

<% end -%>


<%= link_to image_tag("kefisio.jpg", alt: "Kefisio") %>