<% if user_signed_in? %>
  <p>Bem vindo, <%= current_user.email %></p>
  <%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
<% else %>
  <p>Você não está logado.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>